<h1>HOME</h1>
<%if model_signed_in? %>

 <%= current_model.email %>

<%end%>

<%#= render @model_posts, partial: "home/cards",collection: true , locals: {object: @model_posts} %>

<%= render @model_posts %>